# Copia a .env.deploy (gitignored) y rellena los valores del panel WebDeploy
WEBDEPLOY_SITE=site72384
WEBDEPLOY_SERVER=https://site72384.siteasp.net:8172
WEBDEPLOY_USER=site72384
WEBDEPLOY_PASSWORD=tu_contraseña_aqui
